.books {
	padding-bottom: 80px;

	&__title {
		color: $black-cl;
		font-size: 32px;
		line-height: 1.19;
		letter-spacing: -0.04em;
		text-align: left;
		margin-bottom: 40px;

		&__accent {
			color: $accent-cl;
		}
	}

	&__image {
		border-radius: 8px;
		width: 335px;
		height: 485px;
	}

	&__title-book {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.13;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		margin-bottom: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	&__author {
		color: #b4afaf;
		font-size: 12px;
		font-style: italic;
		line-height: 1.17;
		letter-spacing: -0.04em;
	}

	&__overley-box {
		position: relative;
		overflow: hidden;
		margin-bottom: 14px;
	}

	&__overley {
		padding: 26px 52px;
		width: 100%;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.29;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		border-radius: 0px 0px 8px 8px;
		background-color: $yellow-cl;
		position: absolute;
		text-align: center;
		transition: all 300ms ease-in-out;
	}

	&__category {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__item {
		cursor: pointer;
		max-width: 335px;

		&:hover .books__overley {
			transform: translateY(-70px);
		}
	}

	&__bestsellers {
		display: flex;
		flex-direction: column;
		gap: 40px;

		&__list {
			margin-bottom: 8px;
		}

		.books__item:not(:first-child) {
			display: none;
		}

		&__list-name {
			color: #b4afaf;
			font-size: 14px;
			line-height: 1.29;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			margin-bottom: 18px;
		}

		&__btn {
			font-size: 14px;
			font-weight: 700;
			line-height: 1.29;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			display: block;
			padding: 14px 28px;
			margin-left: auto;
			border-radius: 40px;
			border: 2px solid $accent-cl;
			transition: all 300ms ease-in-out;

			&:hover,
			&:focus {
				background-color: $accent-cl;
				color: $white-cl;
			}
		}
	}
}

@media (min-width: 768px) {
	.books {
		&__title {
			font-size: 48px;
			line-height: 1.08;
			letter-spacing: -0.04em;
		}

		&__image {
			width: 218px;
			height: 316px;
		}

		&__category {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 40px 25px;
		}

		&__item {
			max-width: 218px;
		}

		&__bestsellers {
			&__list {
				display: flex;
				gap: 25px;
				margin-bottom: 20px;
			}

			.books__item {
				display: none;
			}

			.books__item:nth-child(-n + 3) {
				display: block;
			}
		}
	}
}

@media (min-width: 1440px) {
	.books {
		&__image {
			width: 180px;
			height: 256px;
		}

		&__category {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 40px 24px;
		}

		&__item {
			max-width: 180px;
		}

		&__bestsellers {
			&__list {
				gap: 24px;
				margin-bottom: 32px;
			}

			.books__item:nth-child(-n + 5) {
				display: block;
			}
		}
	}
}
