<div class="mobile-menu">
	<div class="mobile-menu__wrapper">
		<button type="button" class="sing-up-btn style-btn">
			Sing up
			<svg class="mobile-menu__icon-arrow-right" width="20" height="20">
				<use href="./images/icons/icons.svg#icon-arrow-right"></use>
			</svg>
		</button>
		<ul class="mobile-menu__list">
			<li class="mobile-menu__item">
				<a class="menu-link home-link" href="./index.html">Home</a>
			</li>
			<li class="mobile-menu__item">
				<a class="menu-link shopping-link" href="./shopping-list.html"
					>Shopping list
					<svg class="menu-icon-shop" width="20" height="20">
						<use href="./images/icons/icons.svg#icon-shop"></use>
					</svg>
				</a>
			</li>
		</ul>
		<button type="button" class="log-out-btn style-btn">
			Log out
			<svg class="menu-icon-arrow-right" width="20" height="20">
				<use href="./images/icons/icons.svg#icon-arrow-right"></use>
			</svg>
		</button>
	</div>
</div>
