<div class="modal-backdrop is-hidden">
	<div class="modal-book is-hidden">
		<button class="modal-book__close-btn" type="button">
			<svg class="modal-book__close-icon">
				<use href="./images/icons/icons.svg#icon-close"></use>
			</svg>
		</button>
		<div class="modal-book__info">
			<!-- Create makrup from js... -->
		</div>
		<button type="button" class="modal-book__switch-storage-btn">add to shopping list</button>
		<p class="modal-book__purchase-text">
			Сongratulations! You have added the book to the shopping list. To delete, press the
			button "Remove from the shopping list".
		</p>
	</div>
</div>
