<div class="container">
	<h2 class="books__title">
		Shopping
		<span class="books__title__accent">List</span>
	</h2>
	<div class="empty-content">
		<p class="empty-content__text">This page is empty, add some books and proceed to order.</p>
		<img
			class="empty-content__image"
			srcset="./images/shopping-list/books.webp 1x, ./images/shopping-list/books@2x.webp 2x"
			src="./images/shopping-list/books.webp"
			alt="books"
		/>
	</div>
	<div class="shopping-content">
		<ul class="shopping-content__list">
			<!-- Created markup from js -->
		</ul>
	</div>
</div>
